/*
-----RGB-----	 --COLOR--	---USE---
70 , 70 , 70   black      hover close, prev, next
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .97);
}

.close,
.next,
.prev {
  position: absolute;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 2;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  transition: color .3s ease;
  padding: 0 10px 0 10px;
}

.close {
  top: 5%;
  right: 5%;
  font-size: 40px;
}

.prev {
  top: 0;
  left: 0;
  padding-bottom: 5px;
  transform: translate(0, -50%);
}

.next {
  top: 0;
  right: 0;
  padding-bottom: 5px;
  transform: translate(0, -50%);
}

.close:hover,
.prev:hover,
.next:hover {
  color: rgb(70, 70, 70);
}

@media only screen and (min-width: 480px) {
  .prev {
    left: 5px;
    font-size: 28px;
  }
  
  .next {
    right: 5px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 760px) {
  .prev {
    left: 10px;
    font-size: 40px;
  }
  
  .next {
    right: 10px;
    font-size: 40px;
  }
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
}

.map-slide,
.ttt-slide,
.bezier-slide,
.zbuff-slide {
  position: relative;
  display: none;
}

.slide-num {
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
}

.slide-title {
  margin: auto;
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.map-img,
.ttt-img,
.bezier-img,
.zbuff-img {
  position: relative;
  margin: auto;
  width: 100%;
  display: block;
  border-radius: 7px;
}

.slide-info {
  margin: auto;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
}

.slide-preview {
  width: 100%;
}

.map-thumb,
.ttt-thumb {
  float: left;
  padding: 0;
  width: 33.33%;
  opacity: .7;
  cursor: pointer;
  border-radius: 7px;
}

.active-thumb,
.map-thumb:hover,
.ttt-thumb:hover {
  opacity: 1
}

@keyframes zoom-in {
  from { transform: scale(0) }
  to { transform: scale(1) }
}