/*
-----RGB-----	 --COLOR--	---USE---
26 , 26 , 26   black      navbar background
230, 230, 230  white      navbar links
78 , 177, 81   green      current navbar tab
64 , 64 , 64   black     
153, 153, 153  gray       navbar links a:active
102, 102, 102  gray      navbar links a:hover
*/

#navbar-horizontal {
	background-color: rgb(26, 26, 26);
	position: fixed;
	width: 100%;
  text-align: center;
  z-index: 1;
}

#navbar-vertical {
  background-color: rgb(26, 26, 26);
  position: fixed;
  height: auto;
  top: 86px;
  z-index: 1;
}

.navbar-link {
	display: inline-block;
  margin: 0px -2px 0px -2px;
	padding: 12px 8px 12px 8px;
	color: rgb(230, 230, 230);
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(26, 26, 26);
}

a:hover.navbar-link {
	background-color: rgb(102, 102, 102);
  color: rgb(230, 230, 230);
}

a:active.navbar-link {
	background-color: rgb(153, 153, 153);
  color: rgb(230, 230, 230);
}

.navbar-button {
  display: block;
  padding: 6px 4px 6px 4px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}

a:hover.navbar-button {
	background-color: rgb(102, 102, 102);
}

a:active.navbar-button {
	background-color: rgb(153, 153, 153);
}

.current {
  background-color: rgb(78, 177, 81);
  color: black;
}

/*
.drop-button {
	background-color: rgb(26, 26, 26);
	color: rgb(230, 230, 230);
	padding: 15px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(26, 26, 26);
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgb(64, 64, 64);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: rgb(64, 64, 64);
}
*/