/*
NOTE: lower percent means closer to listed color

---HEX---	--COLOR--	-PERCENT-
#1a1a1a		black		10%
#e6e6e6		black		90%
#00cc00		green		40%
#404040		black		25%
#999999		black		60%
#666666		black		40%
*/

#navbar {
	background-color: #1a1a1a;
	position: fixed;
	width: 100%;
  text-align: center;
}

a:link.navbar-link, a:visited.navbar-link, a:hover.navbar-link, a:active.navbar-link {
	display: inline-block;
	margin: 0;
	padding: 12px 8px 12px 8px;
	color: #e6e6e6;
	text-decoration: none;
	cursor: pointer;
	background-color: 1a1a1a;
}

a:hover.navbar-link {
	background-color: #666666;
}

a:active.navbar-link {
	background-color: #999999;
}

/*
.drop-button {
	background-color: #1a1a1a;
	color: #e6e6e6;
	padding: 15px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1a1a1a;
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #404040;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: #404040;
}
*/