/*
NOTE: lower percent means closer to listed color

---HEX---	--COLOR--	---USE---
#1a1a1a   black     navbar background
#e6e6e6   black     navbar links
#4caf50   green     current navbar tab
#404040   black     
#999999   black     navbar links a:active
#666666   black     navbar links a:hover
*/

#navbar-horizontal {
	background-color: #1a1a1a;
	position: fixed;
	width: 100%;
  text-align: center;
}

#navbar-vertical {
  background-color: #1a1a1a;
  position: fixed;
  height: auto;
  top: 86px;
}

.navbar-link {
	display: inline-block;
  margin: 0px -2px 0px -2px;
	padding: 12px 8px 12px 8px;
	color: #e6e6e6;
	text-decoration: none;
	cursor: pointer;
	background-color: 1a1a1a;
}

a:hover.navbar-link {
	background-color: #666666;
  color: #e6e6e6;
}

a:active.navbar-link {
	background-color: #999999;
  
  color: #e6e6e6;
}

.navbar-button {
  display: block;
  padding: 6px 4px 6px 4px;
  color: #e6e6e6;
  text-decoration: none;
  cursor: pointer;
  background-color: #1a1a1a;
}

a:hover.navbar-button {
	background-color: #666666;
}

a:active.navbar-button {
	background-color: #999999;
}

.current {
  background-color: #4caf50;
  color: black;
}

/*
.drop-button {
	background-color: #1a1a1a;
	color: #e6e6e6;
	padding: 15px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1a1a1a;
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #404040;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .drop-button {
	background-color: #404040;
}
*/